.claass{
    width: 1465px;
    height: 1097px;
    border: 5px solid rgb(208, 102, 208);
}
div{
    position:relative;
    display:grid;
}
.class-1 img{
    position: relative;
width: 600px;
height: 593px;
margin: 60px;
top: -60px;
}
.class-2 {
        position: relative;
        width: 700px;
        height: 600px;
        top: -727px;
        left: 700px;
  }
.class-2 img{
    position: relative;
    border: 1px solid black;
    margin: 10px;
    width: 325px;
    height: 280px;
}
.class-3{
    display: flex;
    position: relative;
    height: 300px;
    width: 1400px;
    top: -724px;
}
.class-3 .rrr{
    position: relative;
    height: 250px;
    width: 600px;
    left: 30px;
    margin: 30px;
}
.class-3 .yyy{
    position: relative;
    height: 250px;
    width: 690px;
    left: 30px;
    margin: 30px;
}
h3{
    position: relative;
    left: 1150px;
    top: -831px;
    color: aliceblue;
    font-size: 37px;
    z-index: 1;
}
h1{
    position: relative;
    left: 60px;
    font-weight: 299px;
    font-size: 70px;
    width: 1400px;
    height: 100px;
    bottom: 10px;
  }

