.nav-link{
  color: #0D6EFD !important;
  /* font-family: 'Helvetica Neue' ; */
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  width: 81px !important;
  height: 24px !important;
  padding: 0px !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}
@media all and (min-width: 992px){
  .navbar-brand{
    display:none !important;
  }
}
.navigation{
  color:#495057 !important;
}
.contac{
  width: 90px !important;
height: 24px !important;
}
.container-fluid{
  margin: 19px 31px !important;
  padding:8px 16px !important;
  width: 1666px !important;
  height: 40px !important;
  box-sizing: border-box !important;
}
.sea{
  height:38px;
}
.seaa{
  border: 1px solid blue !important;
  color: #0D6EFD !important;
}
.seaa:hover{
  background-color: #0D6EFD !important;
  color:white !important;
}
@media all and (max-width: 992px){
  .container-fluid{
    margin: 15px 21px 13px 21px !important;
    padding: 0px !important;
  }
  .navbar-collapse{
    z-index:1 !important;
    background-color: white !important;
  }
}
.navbar-collapse{
  z-index:1 !important;
  background-color: white !important;
}
.img-1{
  width: 1645px !important;
height: 874px !important;
background: #777777 !important;
flex: none !important;
order: 1 !important;
align-self: stretch !important;
flex-grow: 1 !important;
margin: 0px 39px 0px 39px !important;
box-sizing: border-box;
}
@media all and (max-width: 1450px){
  .img-1{
    width: 100% !important;
    height: 784px !important;
    background: #777777 !important;
    flex: none !important;
    order: 1 !important;
    align-self: stretch !important;
    margin: 0 !important;
  }
}
.col img{
  Width:inherit !important;
  Height:inherit !important;
  
}
.col{
  /* margin-left: 20px !important;
  margin-right: 16px !important;  */
  margin-top: 41px;
}
.card{
  margin-top: 41px;
  margin: 41px 10px 0px 10px !important;
}
.row-cols-md-3{
  margin-left: 13px !important;
  display: flex !important;
  margin-right: -20px !important;
}
.accordion{
  margin:30px !important;
  margin-right: 4px !important;
}
.table{
  margin:30px !important;
  margin-right: 4px !important;
}
th,td{
  width: 250px;
}
thead{
  border-bottom: 2px solid !important;
}
caption{
  margin:30px !important;
  margin-left:20px !important;
}
.iop{
 margin-left:20px !important; 
 
}
.form-inp{
  margin:10px !important;
  margin-left:30px !important;
  box-sizing: border-box !important;
}
input{
  border-radius: 0px !important;
}
.btn-primary{
  margin:30px !important;
}
.ppp{
  margin:10px !important;
  margin-left:10px !important;
}
h5{
  margin:30px !important;
}
@media all and (max-width:900px) {
  .form-responsive-sm{
    display:visible !important;
  }
  .ddd{
    display:none !important;
  }
}
@media all and (min-width:900px) {
  .form-responsive-sm{
    display:none !important;
  }
  .ddd{
    display:visible !important;
  }
}
.click{
  margin:0 10px 10px  !important;
  width:100px !important;
}
.card-title{
  margin:0px 0px 10px 0px !important;
}
/* @media all and (max-width:600px) {
  .carousel-caption{
    display:visible !important;
    font-weight: 100 !important;

  }
} */
